
.container-fluid {
  @media (min-width: $screen-lg-min) {
	max-width: $container-lg;
  }
}

.salus-input-group-overrides {
	.input-group-addon {
		padding: 6px 0px 6px 10px;
		-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

		img {
			width: 26px;
			height: 26px;
		}
	}

	.form-control {
		box-shadow: none;
		font-size: 16px;
		border-left: 0px;
	}
}

.salus-input-overrides {
	.form-control {
		box-shadow: none;
		font-size: 16px;
	}
}

.salus-caret {
	border-top: 8px dashed;
	border-right: 6px solid transparent;
	border-left: 7px solid transparent;
	color: $BLU1;
	margin-top: 6px;
}

.salus-navbar-brand {
	float: none;
}

.salus-navbar-btn {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	margin-left: 5px;
	// TODO these bottom two will go away once we get actual styling. This is only to center it for now
	margin-top: 17px;
	padding: 5px 10px;
}

.salus-modal-header {
	border-bottom: none;
}

.btn-default {
	&:hover {
		background-color: $GRY12;
		color: $WHT0;
	}

	&:hover:active {
		background-color: $GRY2;
		color: $WHT0;
	}
}

.btn {
	&:not(.preserve-case) {
		text-transform: lowercase;

		&:first-letter {
			text-transform: uppercase;
		}
	}
}

.btn-warning {
	background-color: $ORG4;

	&:hover {
		background-color: $RED3;
	}

	&:hover:active {
		background-color: $RED4;
		color: $WHT0;
	}
}
