.no-bg-button {
	&:hover {
		opacity: 0.7;
		background-color: $WHT0;
		color: $BLU11;
	}

	&:active {
		background-color: $WHT0;
		color: $BLU11;
		opacity: 0.9;
	}
}

.tile-shadow {
	&:hover {
		//color $GRY4
		box-shadow: 0 0 0 3px rgba($GRY4, 0.8);
	}

	&:hover:active {
		//color $GRY4
		box-shadow: 0 0 0 3px rgba($GRY4, 1.0);
	}
}

a, .btn-link {
	&:hover {
		color: $GRY_LT4;
		text-decoration: none;
	}

	&:hover:active {
		color: $GRY_LT4;
		text-decoration: underline;
	}
}


