$TILE-DISABLED-OPACITY: 0.5;

body {
	// Add smooth scrolling to the body for use when dragging a tile on mobile
	// removed so jquery-ui sortable scroll should work
	// overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}

// Add padding to the body so the fixed header does not overlap body content
.pad-body-for-fixed-navbar {
	padding-top: 75px;
}

.panel.panel-tout {
	height: 60px;
	@include transparent($GRY1, 0.7)
}

.border-left-none {
	border-left: 0px;
}

.width100 {
	width: 100%;
}

.height100 {
	height: 100%;
}

.min-width-btn {
	width: 100%;

	@media (min-width: $screen-sm-min) {
		width: inherit;
		min-width: 125px;
	}
}

// Removes padding from the left hand bootstrap column gutters
.alpha {
	padding-left: 0 !important;
}

// Removes padding from the right hand bootstrap column gutters
.omega {
	padding-right: 0 !important;
}

.no-wrap {
	white-space: nowrap;
}

.inline-block {
	display: inline-block;
}

.inline-flex-center {
	@include inline-flex-center();
}

.margin-auto {
	margin: auto;
}

.absolute-fill {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.absolute-top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.disable-text-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.center-contents-row {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}

// will be centered to the closest position relative parent
.center-vertical-absolute {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.center-horizontal-absolute {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

// The horizonatal part of this mixin differs from the above one because
// it sets the translateX position instead of translateY
.center-vertical-horizontal-absolute {
	@include center-vertical-horizontal-absolute();
}

.center-vertical-relative {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
}

@include relative-size("2x1", 50%);
@include relative-size("1x1", 100%);

.overflow-hidden {
	overflow: hidden;
}

.moving-element {
	will-change: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}


//This is an invalid selector but sass still understands is.
//We use it to make an abstract base class which sass can extended but html can never use.
_default-page {
	color: $COLOR-TEXT;
	font-size: 15px;
	margin-top: 47px;

	@media (max-width: $screen-sm-min) {
		margin-top: 22px;
	}

	.h1 {
		color: $COLOR-HEADER;
		@include set-responsive-font-size(24px, 32px, false);

		@media (max-width: $screen-sm-min) {
			margin-top: 0px;
		}
	}

	.sub-header {
		font-size: 15px;
		height: 20px;
	}
}

.default-cursor {
  cursor: default;
}

button {
	&.spinning {
		background-image: url("/images/icons/spin_black.svg");
		background-position: center;
		background-size: contain;
		background-repeat:no-repeat;
	}
}

.color-white {
	color: $WHT0;
}

.vis-hidden {
	visibility: hidden !important;
}

/* Techchefs CSS */
.db.db{
	display:block;
}

.disabled {
    pointer-events: none; 
    opacity: 0.6;
    color: #555 !important;
}

*:not(input):not(textarea) {
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

.navbar{
	margin-bottom: 0px !important;	
}
.displayBlock{
	display:block;
}