.graph-region {
	.equipment-stacked-bar-graph {
		.graph-error {
			height: 120px;

			.error-text {
				display: block;
				font: 16px sans-serif;
				text-align: center;
			}
		}
        .empty-label{
            text-align: center;
            color: $RED1;
            font-size: 18px;
			height: 20px;
        }

		.graph-content {
			height: 650px;
			font: 10px sans-serif;
			display: inline-block;
			position: relative;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			vertical-align: top;
			overflow: hidden;

			.spinner-view {
				width: 50%;
				left: 25%;
				top: 25%;
			}

			.svg-content {
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
			}

			.axis text,
			.axis g text {
				font-size: 16px;

				@media(max-width: $screen-xs-min) {
					font-size: 18px;
				}
			}

			.tooltip-wrapper {
				.title-text {
					color: $GRY3;
				}

				.date-text,
				.watts-text {
					color: $GRY4;
				}
			}

			.axis path {
				fill: none;
				stroke: #000;
				stroke-width: 1.5px;
				shape-rendering: crispEdges;

				@media(max-width: $screen-sm-min) {
					stroke-width: 2px;
				}
			}

			.grid-lines .tick text {
				display: none;
			}

			.grid-lines .tick line {
				fill: none;
				stroke: #000;
				stroke-width: 1.5px;
				opacity: 0.2;
				shape-rendering: crispEdges;

				@media(max-width: $screen-sm-min) {
					stroke-width: 2px;
				}
			}

			.bar {
				fill: steelblue;
			}
		}
	}

	#interactive-mode-btn {
		margin-top: 32px;
		margin-bottom: 28px;
		width: 184px;
	}

	.time-span-dropdown {
		.dropdown {
			margin-left: 20px;

			@media(min-width: $screen-sm-min) {
				margin-left: 40px;
			}
		}
	}

	.graph-display-options {
		width: 100%;
		margin: 24px 0 34px 0;

		.device-checkbox {
			padding-left: 0;
		}

		.usage-checkbox-area {
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	.grid {
		.tick {
			stroke: lightgrey;
			opacity: 0.7;
		}
	}

	.grid {
		path {
			stroke-width: 0;
		}
	}
}