//Common settings widgets between equipement and category pages
.settings-page-widgets {
    // Bug_CASBW-22 Start
    .saved-label {
        text-align: center;
        color: $RED1;
        font-size: 28px;
        height: 28px;
	}
    .no-saved-label {
        text-align: center;
        color: $RED1;
        font-size: 28px;
        height: 28px;
	}
    // Bug_CASBW-22 End
    
	.energy-meter-settings-content {
		.saved-label {
			text-align: center;
            color: $RED1;
            font-size: 28px;
			height: 28px;

			
		}
	}

	.equipment-settings-widget {

		.e-meter-settings {
			.customize-content-row {
				margin-bottom:10px;
			}
			.clamps-error-text {
				color: $RED1;
				font-size: 14px;
			}

			.clamps-view {
				.flex-sm {
					@media (min-width: $screen-sm-min) {
						display: flex;
						display: -webkit-flex;
					}
				}

				.salus-checkbox {
					margin-top: 20px;

					label {
						border: 1px solid #B6BBBE;
						padding: 15px 25px;
						margin-left: 30px;
						margin-bottom: 0;
					}

					.checkbox-icon {
						margin-top: 16px;
					}

					.checkbox-text {
						color: $GRY3;
						font-size: 20px;
						font-weight: 700;
						margin-left: 0;
					}

					&.checked {
						label {
							background-color: #1564C0;
						}

						.checkbox-text {
							color: $WHT0;
						}
					}
				}
			}
		}

		.infoDivWrapper:first-child {
			border-top: solid 1px $panel-default-border;
		}

		.panel {
			//border-top: 0;
			border-left: 0;
			border-right: 0;
			border-bottom: 0;
			border-top-color: transparent;
		}

		.equipment-widget-header {
			background-color: inherit;

			.widget-header-text {
				padding-left: 0;
				color: inherit;
				background-color: inherit;
			}
		}

		//remove information header on settings-page.
		&.informationWidget {
			.equipment-widget-header {
				display: none;
			}
			.panel-body-widget {
				margin-top: 0;
				padding-top: 0;
			}
		}

		&.settingsWidget {
			margin-top: 32px;

			.equipment-widget-header {
				position: relative;

				//Overriding _equipmentpage.scss
				.widget-header-text {
					font-size: 24px;
					color: $BLU11;
					font-weight: $font-weight-semibold;
				}
			}

			.panel-body {
				margin-top: 24px;
			}

			.settings-row {
				&:first-child {
					border-top: solid 1px $panel-default-border;
				}
				padding: 15px 5px;
				font-size: 18px;
				color: $GRY_LT4;
				border-bottom: solid 1px $panel-default-border;
			}

		}
	}
    
    .bb-equipment-page-password-row{
        padding: 15px 15px;
        font-size: 18px;
        color: $GRY_LT4;
        border-bottom: solid 1px $panel-default-border;
    }

	// edit the alias - settings page
	.equip-alias-edit {
		position: absolute;
		width: 100%;
		left: 0;
		padding-bottom: 15px;
		background-color: $GRY_LT2;
		z-index: 1; // needed so it covers the content on page

		@media (min-width: $screen-sm-min) {
			height: 206px;
		}

		.current-name {
			font-size: 32px;
			color: $BLU8;
			margin-top: 5px;
			padding-left: 40px;

			@media (min-width: $screen-sm-min) {
				margin-top: 20px;
				padding-left: 46px;
				font-size: 32px;
			}
		}

		.alias-textbox-wrapper {
			padding: 0 40px;

			@media (min-width: $screen-sm-min) {
				padding-left: 46px;
				padding-right: 10px;
			}
		}

		.alias-btn-wrapper {
			padding-top: 20px;

			&:last-of-type {
				padding-bottom: 20px;

				@media (min-width: $screen-sm-min) {
					padding-bottom: 0;
				}
			}
		}
	}

	// text for the current device / group?
	.heading-row {
		position: relative;
		margin-bottom: 24px;

		// equipment name on page (not in alias)
		.equipment-name {
			font-size: 32px;
			color: $BLU8;
			margin-top: 0;
			margin-bottom: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			line-height: 40px;
		}

		.pencil-icon {
			width: 24px;
			height: 24px;
			background: url("/images/icons/myEquipment/icon_edit_blue.svg") no-repeat center;
			background-size: contain;
		}
	}

	.col-left {
		word-wrap: break-word;
	}

}

//Category specific Settings page.
.category-settings-page {
	.bb-pencil-icon {
		display: none;
	}

	//TODO: All "bb-" prefixes need to be removed from css.  Its a javascript references.
	#bb-info-region {
		.equipment-settings-widget {
			.bb-widget-header {
				display: none;
			}

			.bb-widget-content {
				margin-top: 0px;
			}

		}

		.bb-category-select-drop-down {
			.dropdown {
				button {
					background-color: white;
				}
			}
		}

		.category-select-content {
			.settings-row {
				padding: 25px 10px;
				font-size: 18px;
				color: $GRY_LT4;
				border-bottom: solid 1px $panel-default-border;
			}
		}

		.panel-default {
			border-color: white;
		}
	}

	.no-subcategory-dropdown {
		.category-select-content {
			.row:first-child {
				.settings-row {
					border-top: solid 1px $panel-default-border;
				}
			}
		}
	}
}

.modal-footer {
    .btn {
        white-space: inherit;
    }
}

.salus-alerts-icon {
    display: block;
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 20px 0;
    border-radius: 25px;
    background-color: #E53935;
    
    &:after {
        content: "!";
        display: inline-block;
        width: 25px;
        line-height: 25px;
        font-size: 18px;
        text-align: center;
        color: #F5F5F5;
    }
}

.salus-alerts-region {
	background-color: $WHT0;
	width: calc(100% - 20px);
	left: 10px;

	@media (min-width: $screen-sm-min) {
		width: 100%;
		left: 0;
	}
    
    .device-connectivity-icon {
		width: 15px;
		height: 15px;
		background: url("/images/icons/dashboard/icon_circle_grey.svg") no-repeat center/contain;

		&.online {
			background-image: url("/images/icons/dashboard/icon_circle_check_green.svg");
		}

		&.offline {
			background-image: url("/images/icons/dashboard/icon_circle_red.svg");
		}
        
        @media (min-width: $screen-sm-min) {
			width: 18px;
			height: 18px;
		}
	}

	.device-title {
		color: $BLU4;
		font-size: 16px;
		padding: 16px 10px;

		@media (min-width: $screen-sm-min) {
			font-size: 20px;
			padding: 20px 30px;
		}
	}
    
    .device-msg {
		color: #8c979c;
		font-size: 12px;
		cursor: default;

		@media (min-width: $screen-sm-min) {
			font-size: 16px;
		}

		.device-msg-top {
			width: 100%;
		}

		.device-msg-bottom {
			font-size: 10px;
			width: 100%;
			text-transform: lowercase;

			&:first-letter {
				text-transform: capitalize;
			}

			@media (min-width: $screen-sm-min) {
				font-size: 16px;
				font-weight: 300;
			}
		}
	}
}

.salus-alerts-properties {
	padding: 20px 0;

	&:nth-child(even) {
		background-color: $GRY_LT2;
	}

	.property-name {
		color: $GRY3;
		font-size: 14px;
		cursor: default;

		@media (min-width: $screen-sm-min) {
			font-size: 16px;
		}
	}
    
    .unread {
        font-weight: bold;
        cursor: pointer;
    }
}
