.float-label-wrapper {
	position: relative;
}

.float-label {
	position: absolute;
	left: 12px;
	top: 13px;
	font-size: 11px;
	color: #aaa;
	transition: all 0.1s linear;
	opacity: 0;
	font-weight: bold;
}

.float-label.show {
	top: 4px;
	opacity:1;
}

.dropdown {
    .float-label.show {
        top: 24px;
        opacity: 1;
    }
    span.label-value {
        margin-top: 5px;
    }
}

.float-label-input {
	padding-top: 12px;
	padding-bottom: 6px;
	height: 46px;
}

.form-error {
	min-height: 20px;
	color: $RED1;
}

.dropdown-button {
	height: 46px;
    color: #555555;
    font-weight: 600;
}

.has-feedback {
	.form-control-feedback {
		top: -40px;
    	right: -40px;
		height: 36px;
		width: 36px;
		border-radius: 18px;
	}

	&.has-error .form-control-feedback {
		// todo: replace with asset
		background-color: red;
	}

	&.has-success .form-control-feedback{
		// todo: replace with asset
		background-color: green;
	}

	.feedback-icon-position {
		opacity: 1;
    	top: 6px;
    	right: 5px !important;
    	left: auto;
    }
}

.show-feedback {
    color: #78909C;
    left: auto;
    top: 0;
    font-weight: 400;
    font-size: 14px;
    opacity: 1;
    width: auto;
    right: 12px;
}

.select-temp-text-box {
	// xs is full col-xs-6 width

	@media (min-width: $screen-sm-min) {
		width: 185px;
	}
}

.hide-inner-spin-button {
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input-container {
	position:relative;
	font-size: 24px;
	color: $GRY3;

	// hide up down arrows on number text box
	input::-webkit-inner-spin-button {
		@extend .hide-inner-spin-button;
	}

	input {
		position: absolute;
		padding-right: 40px;
		-webkit-appearance: none;
		margin: 0;
	}

	.overlayed-units {
		position:absolute;
		right: 10px;
		top: 4px;
	}
}

.form-group {
	.form-control.with-feedback {
		padding-right: 30px;
	}

	// hide up down arrows on number text box
	input::-webkit-inner-spin-button {
		@extend .hide-inner-spin-button;
	}

}

#protectionHeatingSetpointDropdown + ul.dropdown-menu,
#protectionCoolingSetpointDropdown + ul.dropdown-menu {
    max-height: 350px;
    overflow-y: scroll;
}
