
.mode-edit {
	.address-header {
		display: none;
	}
}

.gateway-edit {
	.gateway-control {
		.btn {
			white-space: normal;
		}
	}
}

#gatewayTimeZoneSelect + ul {
    height: 400px;
    overflow-y: scroll;
}