$scene-header-width: 252px;
$scene-selected-radio-width: 30px;
$scene-margin-left-right: 20px;

.banner {
	background-color: $COLOR-HEADER;
}

.nav-min-height {
	height: 100%;
	min-height: 65px;
}

.keyboard-open .site-header-container {
	position: absolute;
}

.modal{
	padding-right:0 !important;
}

.modal-open {
    overflow: hidden;
    @media (max-width: 1200px) {
        overflow: hidden;
    }
}

.modal-open .body-content {
    @media (min-width: 1200px) {
        overflow-y: scroll;
    }
}

#bb-modal-region {
    .container {
        width: 100%;
    }
    .visible-xs {
        display: none !important;
        @media (max-width: 1200px) {
            display: block !important;
        }
    }
}

.site-header-container {
    z-index: 100 !important;
    .container {
        @media (min-width: $screen-lg-min) {
          width: 1200px;
        }
        .navbar-header {
            @include clearfix;
            
            @media (min-width: 768px) {
                float: none;
            }
            @media (min-width: 1201px) {
                float: left;
            }
        }
        .hidden-xs {
            @media (max-width: 1200px) {
                display: none !important;
            }
        }
        .visible-xs {
            display: none !important;
            @media (max-width: 1200px) {
                display: block !important;
            }
        }
    }
    
	.header-icon {
		margin-top: -4px;
	}

	.hamburger-button {
		right: 15px;
		background: url("/images/icons/icon_hamburger_white.svg") no-repeat right / 60%;
		width: 50px;
		height: 100%;
	}
	.hamburger-button-cover{
		position: absolute;
	    right: 0;
	    top: 0;
	    width: 80px;
	    height: 100%;
	    z-index: 10;
	}

	.brand-text {
		margin-left: 10px;
		color: $WHT0;
		margin-top: -2px;
	}

	li a.logout {
		color: $WHT0;

		&:before {
			color: $BLU_LT1;
			content: "|";
			position: absolute;
			top: 34%;
			left: -4%;
			font-weight: 100;
		}
	}

	.salus-navbar-brand img {
		width: 30px;
	}
}

.scene-item-header-desktop {
	position: relative;
	height: 70px;
	width: $scene-header-width;

	&:hover {
		background-color: rgba(187, 222, 251, 0.5); // #bbdefb 50%
	}

	.scene-icon {
		position: absolute;
		width: 50px;
		height: 50px;
		top: 10px;
		left: 20px;
	}

	.scene-name {
		position: absolute;
		font-size: 15px;
		color: $BLU4;
		top: 15px;
		left: 65px;
		width: 100px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.scene-selected {
		position: absolute;
		width: 30px;
		height: 100%;
		top: 10px;
		left: $scene-header-width - $scene-selected-radio-width - ($scene-margin-left-right * 2);
		background-repeat: no-repeat;
		background-size: contain;

		&.selected {
			background-image: url("/images/icons/dashboard/icon_radio_selected.svg");
		}

		&.deselected {
			background-image: url("/images/icons/dashboard/icon_radio_not_selected.svg");
		}

		&.invalid {
			background-image: url("/images/icons/myStatus/misc/icon_disabled.svg");
		}
	}
}

.disable-status {
	cursor: not-allowed;
}

.header-links-list {
	.myStatus-link {
		.up {
			color: $BLU4;
		}

		.down {
			color: $BLU2;
		}
	}
}

// This shadow is positioned such that it only shows below the front lip of the nav and not out of the sides
.shadow {
	@include vendor-prefixed-box-shadow(0px, 15px, 20px, -15px, rgba(0, 0, 0, 0.81));
}