.login-page {
    
    .logo{
        background: url("/images/icons/icon_svg_logo_white.svg") no-repeat;
        background-size:30px 24px;
        width: 30px;
        height: 24px;
    }
    
    .hamburger{
        right: 15px;
        background: url("/images/icons/icon_hamburger_white.svg") no-repeat right/60%;
        width: 50px;
        height: 100%;
    }
    
	.well-region {
		/*@include transparent($WHT0, 0.6);*/
		margin-top: 20px;
		padding: 20px 0;

		@media (min-width: $screen-sm-min) {
			margin-top: 40px;
			padding: 56px 0;
		}

		.sign-in-btn-container {
			min-width: 82px;
		}

		.silo-switch {
			color: $BLU1;
		}

		.panel-tout {
			font-weight: 100;
			padding: 4px;
			margin-top: 66px;
			margin-right: 30px;
			margin-left: 30px;
			height: auto;

			a {
				color: $BLU2;
				font-weight: 400;

				&.sign-in {
					font-weight: 700;
				}
			}

			.glyphicon {
				color: $BLU2;
				font-size: 12px;
			}
		}

		.salus-logo {
			background-image: url("/images/icons/icon_svg_logo_blue.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			height: 58px;
			width: 100%;
		}

		.login-headline {
			letter-spacing: 2.2px;
			width: 250px;
			margin-left: auto;
			margin-right: auto;
			line-height: 50px;
			padding-top: 10px;
			text-align: center;
			color: $BLU1;

			&.confirm {
				width: 300px;
			}
		}

		.welcome-message {
			font-size: 26px;
			@media (min-width: $screen-sm-min) {
				font-size: 36px;
			}
		}

		#sign-up-btn {
			height: 48px;
			width: 170px;
			border-radius: 4px;
			font-weight: 700
		}

		#sign-in-btn-region {
			padding-top: 30px;
            @media (min-width: $screen-sm-min) {
            	padding-top: 50px;
            }
		}
        
        // Dev_SCS-3284 Start
        #demo-sign-in-btn {
            height: 48px;
			width: 170px;
			border-radius: 4px;
			font-weight: 700
        }
        
        #demo-sign-in-btn-region {
            padding-top: 10px;
            @media (min-width: $screen-sm-min) {
            	padding-top: 15px;
            }
        }
        
        .demo-error {
            color: #E53935;
            min-height: 20px;
            width: 60%;
            margin: 0 auto;
        }
        // Dev_SCS-3284 End

		// welcome page
		#login-welcome-well {
			padding-top: 20px;
		  	@media (min-width: $screen-sm-min) {
				padding-top: 124px;
			}

			.panel-tout {
				margin-top: 60px;
				@media (min-width: $screen-sm-min) {
					margin-top: 146px;
				}
			}
		}

		// confirm
		#confirm-account-well {
			.thanks-for-signup {
				font-size: 18px;
				color: $BLK2;
				margin-left: 10px;
				margin-right: 10px;
			}

			.mail-icon {
				margin: 40px auto 24px;
				background: url("/images/icons/icon_mail_grey.svg") no-repeat center / 100%;
				width: 30px;
				height: 19px;
			}

			.email-info-text {
				font-size: 15px;
				margin-left: 25px;
				margin-right: 25px;
				margin-bottom: 35px;
				font-weight: 300;
				color: $BLK2;

				@media (min-width: $screen-sm-min) {
					margin-left: 50px;
					margin-right: 50px;
				}
			}

			.confirm-separator {
				border-top: 1px solid $GRY_LT4;
				width: 126px;
				margin: 40px auto;
			}

			.bold-link {
				font-weight: 700;
			}
		}

		.salus-icon-textbox-wrp {
			min-width: 220px;

			.salus-icon-text-box {
				.focused-border-color {
					border-color: $input-border-focus;
				}
			}

			.error-label-wrapper {
				min-height: 30px;
				padding-bottom: 10px;
				width: 100%;
			}

			.error-component {
				display: none;
			}

			input, .input-group-addon {
				background-color: $WHT1;
				color: $GRY2;
			}

			&.hasError {

				input, .input-group-addon {
					border-color: $RED1;
					color: $RED1;

					&.text-changed {
						color: $GRY2;
					}
				}

				.error-component {
					display: block;
				}

				.error-label {
					color: $WHT0;
					font-size: 13px;
					padding: 4px 10px;
					min-height: 25px;
					background-color: $RED1;
					margin-bottom: -7px;
					border-radius: 4px;
				}

				.glyphicon {
					height: 5px;
					color: $RED1;
					margin-left: 43px;
				}
			}
		}

		//sign in page
		#sign-in-well {
			padding-top: 0;

			@media (min-width: $screen-sm-min) {
				padding-top: 23px;
			}

			.password-text-wrp {
				padding-top: 11px;

				&.hasError {
					.error-label {
						font-size: 12px;
					}
				}
			}

			.sign-in-btn-row {
				padding-top: 15px;

				@media (min-width: $screen-sm-min) {
					padding-top: 51px;
				}
                
                @media (max-width: $screen-xs-min) {
					width: 60%;
                    margin-left: 20%;
				}
				
				#sign-in-btn {
					@include btn-primary-extended-attr;
				}
			}

			.forgot-password-wrp {
				padding-top: 17px;

				a {
					color: $BLU1;
				}
			}

			.send-confirmation-wrp{
				padding-top: 17px;

				a {
					color: $BLU1;
				}
			}

			.salus-checkbox {
				margin-top: 20px;

				.checkbox-text {
					font-weight: 600;
				}
			}

			#sign-in-link-panel {
				@media (max-width: $screen-xs-max) {
					margin-top: 15px;
				}
			}
		}
	}

	.forgot-password-content-well {
		padding-top: 52px;

		.panel-tout {
			margin-top: 102px;
			margin-left: 0px;
			margin-right: 0px;
		}

		.email-form-box {
			min-width: 211px;
		}

		#email-password-btn-region {
			margin-top: 91px;
			min-width: 248px;

			#email-password-btn {
				@include btn-primary-extended-attr;
			}
		}
	}

	.send-confirmation-email-content-well {
		padding-top: 52px;

		.panel-tout {
			margin-top: 102px;
			margin-left: 0px;
			margin-right: 0px;
		}

		.email-form-box {
			min-width: 211px;
		}

		.email-submit-btn-region {
			margin-top: 91px;
			min-width: 248px;

			#submit-email-btn {
				@include btn-primary-extended-attr;
			}
		}
	}

	.change-password-with-token-well {
		padding-top: 52px;

		.new-password-input, .confirm-password-input {
			margin-top: 12px;
			min-width: 258px;
		}

		.password-token-input {
			min-width: 258px;
		}

		.save-new-password-btn-container {
			margin-top: 30px;
			min-width: 228px;

			.save-new-password-btn {
				@include btn-primary-extended-attr;
			}
		}

		.sign-in-with-token-well {
			padding-top: 52px;

			.secure-token-input {
				margin-top: 30px;
			}

			.associate-device-btn-container {
				margin-top: 92px;

				.associate-device-btn {
					@include btn-primary-extended-attr;
				}
			}
		}
        
        .token-error {
            color: #E53935;
        }
	}
}

.pinpad-screen {
	.pinpad-button {
		padding: 15px;
		color: $RED1;
		border: 1px solid black;
		cursor: pointer;

		&:active {
			background-color: $GRY_LT1;
		}
	}

	.entered-numbers, .wrong-pin-error {
		height: 10px;
	}
}
