.modal-open .body-content{
	width:100%;
	overflow-y:hidden;
}

 /* .modal-open .body-content{
			position:absolute;
			top:0;
			bottom:0;
			width:100%;
			overflow-y:hidden;
		    margin-top: 70px;
		}
    }*/

.mobile-menu {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	height: 65px;
	overflow: hidden;
	z-index: 110;
	padding-left: 0;
	padding-right: 0;

	.inner-scroll-window {
		overflow-y: scroll;
		overflow-x: hidden;
		width: 100%;
		height: 88%;
		background-color: rgba(255, 255, 255, 0.95);
	}

	.mobile-menu-overlay {
		background-color: black;
		opacity: .3;
		height: 22%;
	}

	.mobile-menu-row {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid $GRY2;
		overflow: hidden;
		text-overflow: ellipsis;

		a {
			padding-left: 17px;
			font-size: 16px;
			color: $BLU4 !important;
		}

		&.user-name {
			padding-right: 17px;
		}

		&.mobile-scenes-row {
			padding-top: 0;
			padding-bottom: 0;

			.myStatus-link {
				padding: 10px 0 10px 17px;
				color: $BLU4;
				font-size: 16px;
			}
		}
	}

	.mobile-header-row {
		background-color: $COLOR-HEADER;
		height: 65px;
	}

	.col-xs-6 {
		height: 100%;
	}

	.sub-menu-arrow {
		display: inline-block;
		background: url("/images/icons/dashboard/icon_arrow_green.svg") no-repeat center;
		background-size: contain;
		width: 15px;
		height: 22px;
		margin-right: 10px;
		float: right;
	}

	.close-btn {
		background: url("/images/icons/dashboard/icon_close_x.svg") no-repeat center/45%;
		width: 50px;
		height: 100%;
		right: 15px;
	}

	.close-btn-cover {
		position: absolute;
	    right: 0;
	    top: 0;
	    width: 80px;
	    height: 100%;
	    z-index: 10;
	}

	.logo-icon {
		background: url("/images/icons/icon_svg_logo_white.svg") no-repeat center;
		background-size: contain;
		height: 35px;
		width: 28px;
		left: 25px;
	}

	.mobile-menu-back {
		display: none;
		margin-left: 15px;
	}

	&.sub-menu-open {
		.logo-icon {
			display: none;
		}

		.mobile-menu-back {
			display: block;
		}
	}
}

.scenes-container {
	min-height: 100px;
	padding: 10px 20px;

	.scene-item-header-mobile {
		display: inline-block;
		position: relative;
		margin-bottom: 15px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 0;
		}

		.scene-name {
			@include set-responsive-font-size(16px, 16px, true);
			position: absolute;
			font-weight: 100;
			color: $WHT0;
			top: 78%;
			left: 7%;
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
		}

		.scene-selected {
			position: absolute;
			background-repeat: no-repeat;
			background-size: contain;

			&.selected {
				border: 2px solid $WHT0;
				border-radius: 50%;
				width: 27%;
				height: 27%;
				top: -5%;
				left: 79%;
				opacity: 1;
				background-image: url("/images/icons/dashboard/icon_radio_selected.svg");
				background-color: $WHT0;
			}

			&.deselected {
				border: none;
				width: 15%;
				height: 15%;
				top: 5%;
				left: 79%;
				opacity: 0.5;
				background-image: url("/images/icons/dashboard/icon_radio_not_selected.svg");
			}

			&.invalid {
				border: 0;
				width: 27%;
				height: 27%;
				top: 2%;
				left: 72%;
				opacity: 0.5;
				background-image: url("/images/icons/myStatus/misc/icon_disabled.svg");
			}
		}
	}
}