.delete-equip-modal-content {
	.spinner-view {
		width: 25%;
		height: 50%;
		margin: auto;
	}
}

.delete-share-modal-text,
.delete-one-touch-modal-text,
.missing-coordinator-modal-text,
.delete-status-modal-text {
	margin-top: 25px;
	margin-bottom: 5px;
	color: $BLU1;
}