#myStatus-page {
	.no-gateway-text {
		color: $RED1;
	}

	.add-status-view-region {
		min-height: 150px;
		position: relative
	}
}

.myStatus-complete-tile {
	margin-bottom: $TILE-BOTTOM-MARGIN;

	.tile-text {
		position: absolute;
		color: $WHT0;
		left: 10px;
		top: 5px;
		font-size: 16px;
		width: calc(100% - 20px);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.myStatus-selected {
		position: absolute;

		&.selected {
			width: 25px;
			height: 25px;
			background: url("/images/icons/dashboard/icon_radio_selected.svg") no-repeat center;
			background-size: contain;
			background-color: $WHT0;
			border: 2px solid $WHT0;
			border-radius: 50%;
			bottom: 4%;
			right: 4%;

			@media (min-width: $screen-sm-min) {
				height: 25px;
				width: 25px;
				bottom: 3.82%;
				right: 3.82%;
				border-width: 3px;
			}

			@media (min-width: $screen-md-min) {
				border-width: 4px;
			}
		}

		&.deselected {
			height: 25px;
			width: 25px;
			background: url("/images/icons/dashboard/icon_radio_not_selected.svg") no-repeat center;
			background-size: contain;
			border-radius: 50%;
			bottom: 4%;
			right: 4%;
			opacity: 0.6;

			@media (min-width: $screen-sm-min) {
				bottom: 3.82%;
				right: 3.82%;
				height: 25px;
				width: 25px;	
			}
		}
	}

	.new-status-tile-text {
		font-size: 14px;
		bottom: 35%;
		width: calc(100% - 20px);

		@media (min-width: $screen-xs-min) {
			font-size: 24px;
		}

		@media (min-width: $screen-sm-min) {
			font-size: 22px;
		}

	}

	.new-status-tile-icon {
		width: 24px;
		height: 24px;
		top: 32%;
		background: url("/images/icons/icon_check_green.svg") no-repeat center;
		background-size: contain;

		@media (min-width: $screen-xs-min) {
			width: 36px;
			height: 36px;
			top: 40%;
		}
	}


}
.status-tile-size{
	width: 145px !important;
    height: 145px !important;
    display: inline-block;
    padding: 0;
    margin: 5px;
    float: left;

    .regular-text{
    	font-size:16px !important;
    }

    
}

#myStatus-collection{
	@media (max-width: $screen-xs-min) {
		margin-left:-5px;
	}
}
