
$radio-size: 24px;
$radio-inner-pad: 6px;
$radio-border: 1px;


.salus-radio {
	position: relative;

	display: block;
	padding-left: $radio-size;
	margin-top: 10px;
	margin-bottom: 10px;

	input[type=radio] {
		position: absolute;
		top: 0;
		left: 0;

		visibility: hidden;
	}

	label {
		cursor: pointer;
		font-weight: normal;
	}
}

/*
 * radio toggle is the visualization of the radio button.
 * the class itself sets the height + width of the bounding box
**/
.radio-toggle {
	position: absolute;
	top: 0;
	left: 0;

	display: inline-block;
	width: $radio-size;
	height: $radio-size;

	border: $radio-border $BLU1 solid;
	border-radius: 50%;

	/**
	 * this psuedo element fills in inner circle that designates if the radio is checked or not
	**/
	&:after {
		content: " ";

		position: absolute;
		top: $radio-inner-pad - $radio-border;
		left: $radio-inner-pad - $radio-border;

		width: ($radio-size - ($radio-inner-pad * 2));
		height: ($radio-size - ($radio-inner-pad * 2));

		border-radius: 50%;
		background-color: $BLU1;

		opacity: 0;
	}

	&:hover:after {
		opacity: 0.3;
	}
}

/* set the inner circle of the radio toggle to be visible when the radio is checked */
.salus-radio input[type=radio]:checked + .radio-toggle:after {
	opacity: 1;
}

.radio-text {
	margin-left: 15px;
}