.group-tile, .grouped-tile {
	display: inline-block;
	position: relative;
	margin-bottom: $TILE-BOTTOM-MARGIN;

	.group-name, .device-name {
		@include set-responsive-font-size(20px, 20px, true);
		position: absolute;
		top: 5%;
		right: 5%;
		left: 5%;
		color: $WHT0;
		font-weight: 100;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@media (min-width: $screen-md-min) {
			height: 22%;
		}
	}

	.group-alert-icon {
		position: absolute;
		top: 4%;
		left: 76%;
		height: 17%;
		width: 17%;
		background: url("/images/icons/dashboard/icon_alert_triangle.svg") no-repeat;
		background-size: contain;
	}

	.pin-to-dashboard {
		position: absolute;
		top: 83%;
		left: 85%;
		height: 14%;
		width: 12%;
		background: right no-repeat;
		background-size: contain;

		&.pin-icon {
			background-image: url("/images/icons/dashboard/icon_pin_filled.svg");
		}

		&.unpin-icon {
			background-image: url("/images/icons/dashboard/icon_unpin.svg");
		}
	}

	.badge-wrapper {
		position: relative;
		width: 30%;
		height: 30%;
		margin-top: 42%;
		margin-left: 28%;
		margin-right: auto;
	}

	.badge {
		@include set-responsive-font-size(20px, 20px, true); //small size font will scale from 20 and down
		@include center-vertical-horizontal-absolute();
		font-weight: 100;
		border-radius: 30px;
		padding: 8%;
		min-width: 50%;
		display: block;
	}
}

/* devices */
.ungrouped-equipment-tile {
	display: inline-block;
	position: relative;
	margin-bottom: $TILE-BOTTOM-MARGIN;

	.ungrouped-tile-background {
		@include color-gradient-with-angle(145deg, $TILE-GREEN-GRADIENT-TOP, 0%, $TILE-GREEN-GRADIENT-BOTTOM, 100%);
	}

	.ungrouped-equip-icon {
		position: absolute;
		width: 42%;
		height: 40%;
		top: 5%;
		left: 5%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left top;
	}

	.ungrouped-equip-text {
		@include set-responsive-font-size(12px, 14px, true);
		position: absolute;
		color: $WHT0;
		padding-top: 62%;
		margin-left: 7%;
		margin-right: 7%;
		word-break: break-word;

		@media (min-width: $screen-sm-min) {
			padding-top: 60%;
		}

		@media (min-width: $screen-md-min) {
			padding-top: 72%;
		}
	}

	.pin-to-dashboard {
		position: absolute;
		top: 83%;
		left: 85%;
		height: 14%;
		width: 12%;
		background: right no-repeat;
		background-size: contain;

		&.pin-icon {
			background-image: url("/images/icons/dashboard/icon_pin_filled.svg");
		}

		&.unpin-icon {
			background-image: url("/images/icons/dashboard/icon_unpin.svg");
		}
	}
}