.one-touch-collection {
	margin-bottom: 40px;

	.one-touch-tile {
		position: relative;
		margin-bottom: $TILE-BOTTOM-MARGIN;

		.add-new-tile-text {
			text-transform: none; /* OneTouch is part of Salus branding */

			&.regular-text {
				padding-top: 14%;

				@media (min-width: $screen-sm-min) {
					padding-top: 28%;
				}
			}
		}
	}

	.one-touch-name {
		@include set-responsive-font-size(20px, 20px, true);
		position: absolute;
		top: 5%;
		right: 5%;
		left: 5%;
		color: $WHT0;
		font-weight: 100;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@media (min-width: $screen-md-min) {
			height: 22%;
		}
	}
}
