.category-tile {
	display: inline-block;
	position: relative;
	margin-bottom: 20px;

	.category-name {
		@include set-responsive-font-size(20px, 20px, true);
		position: absolute;
		top: 5%;
		left: 5%;
		right: 5%;
		color: $WHT0;
		font-weight: 100;
		height: 25%;
		overflow: hidden;
		text-overflow: ellipsis;
        white-space: nowrap;
	}

	.category-alert-icon {
		position: absolute;
		top: 4%;
		left: 76%;
		height: 17%;
		width: 17%;
		background: url("/images/icons/dashboard/icon_alert_triangle.svg") no-repeat;
		background-size: contain;
	}

	.badge {
		@include set-responsive-font-size(20px, 20px, true); //small size font will scale from 20 and down
		position: absolute;
		top: 60%;
		left: 63%;
		font-weight: 100;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		padding: 2.9% 3.5%;
	}
}
