$MARGINMAX: 101;
$MARGINMIN: 0;

$PADDINGMAX: 101;
$PADDINGMIN: 0;

@mixin box-style-mixin($style, $amount) {
	.#{$style}-l-#{$i} {
		#{$style}-left: $i + 0px;
	}

	.#{$style}-r-#{$i} {
		#{$style}-right: $i + 0px;
	}

	.#{$style}-t-#{$i} {
		#{$style}-top: $i + 0px;
	}

	.#{$style}-b-#{$i} {
		#{$style}-bottom: $i + 0px;
	}

	.#{$style}-#{$i} {
		#{$style}: $i + 0px;
	}
}

$i: $MARGINMIN;
@while $i < $MARGINMAX {
	@include box-style-mixin("margin", $i);
	$i: $i + 5;
}

$i: $PADDINGMIN;
@while $i < $PADDINGMAX {
	@include box-style-mixin("padding", $i);
	$i: $i + 5;
}

.center-relative {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.center-vertical-horizontal-relative {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);;
}

.carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 20%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	filter: alpha(opacity=50);
	opacity: .5;
	height: 60%;
	background: white;
}

.carousel-control.up {
	width: 60%;
	height: 20%;
	left: 20%;

	.glyphicon-chevron-up {
		z-index: 5;
		color: #333;
		top: 5px;
	}
}

.carousel-control.right {
	right: 0;
	left: auto;
    top: 20%;

	.glyphicon-chevron-right {
		right: 50%;
		margin-right: -10px;
		position: absolute;
		top: 40%;
		z-index: 5;
		display: inline-block;
		color: #333;
	}
}

.carousel-control.left {
    top: 20%;

	.glyphicon-chevron-left {
		position: absolute;
		top: 40%;
		z-index: 5;
		display: inline-block;
		left: 50%;
		margin-left: -10px;
		color: #333;
	}
}

.carousel-control.bottom {
	width: 60%;
    height: 20%;
    top: 116px;
    left: 20%;

	.glyphicon-chevron-down {
		z-index: 5;
		margin-top: 5px;
		color: #333;
		top: 5px
	}
}