<div id="bb-custom-content-region"></div>
<div class="row">
	<div class="saved-label invisible" data-i18n="common.labels.saved"></div>
	<!--<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-push-4 col-sm-offset-0 margin-t-10 bb-button-save"></div>-->
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-push-6 col-sm-offset-0 margin-t-20 bb-button-save"></div>
	<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-pull-6 col-sm-offset-0 margin-t-20 bb-button-cancel"></div>
    
</div>
