<div class="row">
	<div class="current-name font-semi-bold col-xs-12"><%- name %></div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 alias-textbox-wrapper">
		<div class="bb-alias-textbox"></div>
	</div>
	<div class="col-xs-8 col-xs-pull-2 col-sm-2 col-sm-pull-2 alias-btn-wrapper pull-right">
		<div class="bb-alias-save"></div>
	</div>
	<div class="col-xs-8 col-xs-pull-2 col-sm-2 col-sm-pull-2 alias-btn-wrapper pull-right">
		<div class="bb-alias-cancel"></div>
	</div>
</div>