<div class="float-label-wrapper form-group bb-form-group">
	<label class="float-label" for="<%= inputId %>" data-i18n="<%= labelTextKey %>"></label>
	<input class="float-label-input form-control<%= feedback ? ' with-feedback' : '' %>" id="<%= inputId %>"
	       type="<%= inputType %>" placeholder="<%= placeholderText %>" <%if(maxLength){%> maxLength="<%=maxLength%>" <%}%>	/>
	<span class="form-control-feedback float-label feedback-icon-position"><%=feedback%></span>
</div>
