<label>
	<input type="checkbox" value="<%= value %>" id="<%= id %>" name="<%= name %>" class="hidden checkbox-input" />
    <span class="bb-checkbox-icon checkbox-icon <%= checkColor %>" tabindex="0"></span>
	<span class="<%= secondaryIconClass %>"></span>
	<span class="checkbox-text" data-i18n="<%= labelTextKey %>"><%-nonKeyLabel%></span>
</label>