<label>
	<input type="radio" value="<%= value %>" id="<%= id %>" name="<%= name %>" />
	<span class="radio-toggle"></span>
	<span class="radio-text" data-i18n="<%= labelTextKey %>"><%=nonKeyLabel%></span>
</label>