<div class="bb-rules-tile-background rules-tile-background tile-shadow relative-size-1x1 width100">
	<div id="rules-icon-tile" class="absolute-fill">
		<div class="bb-one-touch-name one-touch-name"></div>
        <div class="badge-wrapper">
			<span class="bb-rule-count badge"></span>
		</div>
	</div>
</div>
