<div class="section-title margin-b-20" data-i18n="equipment.oneTouch.create.criteriaSection"></div>
<div class="bb-criteria-section rule-criteria"></div>
<div class="bb-conditions-section conditions-section"></div>
<div class="bb-actions-section actions-section"></div>
<div class="bb-delayed-action-section later-section"></div>