<div class="row header-row">
	<h1 class="col-xs-12 h1 margin-b-20" data-i18n="equipment.oneTouch.create.title"></h1>
	<div class="col-xs-12 subheader" data-i18n="equipment.oneTouch.create.include"></div>
</div>
<div class="bb-status-collection-region"></div>
<div class="row margin-t-15 margin-b-30">
	<div class="bb-skip-button col-xs-10 col-sm-3 col-xs-pull-1 col-sm-pull-0 margin-b-15 pull-right"></div>
	<div class="bb-cancel-button col-xs-10 col-sm-3 col-xs-pull-1 col-sm-pull-0 margin-b-15 pull-right"></div>
</div>