<div class="row bb-above-row thermostat-temp-row">
    <div class="thermostat-temp-content">
        <div class="col-xs-6 select-temp-text" data-i18n="<%=labelAboveKey%>"></div>
        <div class="col-xs-6 bb-temperature-input temperature-input"></div>
    </div>
    <div class="bb-error thermostat-temp-error"></div>
</div>
<div class="row bb-below-row thermostat-temp-row">
    <div class="thermostat-temp-content">
        <div class="col-xs-6 select-temp-text" data-i18n="<%=labelBelowKey%>"></div>
        <div class="col-xs-6 bb-temperature-input temperature-input"></div>
    </div>
    <div class="bb-error thermostat-temp-error"></div>
</div>