

<div class="row margin-b-20">
    <div class="col-xs-12 margin-b-30">
        <h3 class="h3"  data-i18n="setupWizard.provisioning.customize.fancoil.selectThermostatToCopy"></h3>
    </div>
	
	<div class="col-xs-12 margin-b-30">
		<div class="bb-fc600-collection-region"></div>
	</div>

</div>
<div class="row">
	<div class="col-xs-12 bb-next-button"></div>
</div>