<div class="row">
	<div class="col-xs-12 page-header">
		<h1 class="h1" data-i18n="setupWizard.provisioning.customize.fancoil.title"></h1>
	</div>
</div>

<div class="row margin-b-20">
    <div class="col-xs-12 margin-b-30">
        <h3 class="h3"  id="fancoil_schedule_header"></h3>
    </div>
	<div class="col-xs-12">
		<div id="bb-no-region" class="row data-collection-option">
			<div class="col-xs-2 col-sm-1 data-collection-option">
				<div class="bb-no"></div>
			</div>
			<div class="col-xs-10 col-sm-11">
				<div class="data-collection-option-header">
					<span data-i18n="common.labels.no"></span>
				</div>
			</div>
		</div>
        <div id="bb-yes-region" class="row data-collection-option">
			<div class="col-xs-2 col-sm-1 data-collection-option">
				<div class="bb-yes"></div>
			</div>
			<div class="col-xs-10 col-sm-11">
				<div class="data-collection-option-header">
					<span data-i18n="common.labels.yes"></span>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-xs-12 bb-next-button save-button"></div>
</div>