<div class="col-xs-12 margin-b-10">
	<h4 class="bb-no-gateway-text no-gateway-text hidden" data-i18n="myStatus.noGatewayMessage"></h4>
</div>
<div id="bb-categories-region" class="categories-region"></div>