<div class="single-control-tile tile-shadow col-xs-4 col-sm-6 margin-l-10">
	<div class="bb-single-control-name single-control-name"><%- name %></div>
	<div class="thermometer-icon visible-xs"></div>
	<div class="bb-arc-group arc-group hidden-xs center-vertical-horizontal-absolute">
		<div class="bb-tstat-arc tstat-arc"></div>
	</div>
	<div class="tstat-count-group">
		<div class="chain-link"></div>
		<div class="bb-thermostat-count thermostat-count"><%= count %></div>
	</div>
</div>
<div class="tsc-info-container col-xs-8 col-sm-6">
	<div class="bb-thermostats-in thermostats-in"></div>
	<div class="bb-devices-container devices-container"></div>
</div>