<div class="container-fluid">
	<div class="row header">
		<h3 class="col-xs-12 subheader" data-i18n="schedules.edit.modal.title"></h3>
	</div>
	<div class="row bb-single-controls-region"></div>
	<div class="row">
		<div class="col-xs-8 col-sm-4 individual-controls-header $font-weight-bold" data-i18n="schedules.edit.modal.individualLabel"></div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-sm-4 bb-individual-controls-region individual-controls-region"></div>
	</div>
	<div class="row alert alert-danger bb-alert hidden" role="alert">
		<button type="button" class="close bb-close-button" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
		<strong data-i18n="schedules.edit.modal.duplicateTstatsErrorTitle"></strong>
		<div data-i18n="schedules.edit.modal.duplicateTstatsErrorBody"></div>
	</div> 
	<div class="row buttons-row">
		<div class="bb-btn-close col-xs-12 col-md-4 margin-t-10"></div>
		<div class="bb-btn-finished col-xs-12 col-md-4 margin-t-10"></div>
		<div class="bb-btn-add-new col-xs-12 col-md-4 margin-t-10"></div>
	</div>
</div>