<div class="modal-dialog" role="document">
	<div class="modal-content bb-modal-content">
		<button id="bb-icon-large-close" type="button" class="icon-large-close" data-dismiss="modal">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="container-fluid">
			<div id="alert-modal" class="row">
				<div class="col-xs-12">
					<div class="icon <%= iconClass %> margin-auto"></div>
					<div class="row">
						<div id="bb-primary-label" class="modal-primary-text col-xs-12 text-center"></div>
						<div id="bb-secondary-label" class="col-xs-12 text-center"></div>
					</div>
					<div class="row margin-b-10 margin-t-15  bb-spinner-section">
						<div class="spinner"></div>
					</div>
					<hr class="hidden-xs"/>
					<div class="row button-group bb-button-row">
						<div id="bb-right-btn-area" class="modal-button pull-left"></div>
						<div id="bb-left-btn-area" class="modal-button pull-left"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>