<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<h3 class="col-xs-12 bb-modal-title margin-auto" id="modalLabel" tabindex="-1"
					data-i18n="common.labels.saved"></h3>
			</div>
			<div class="row">
				<div id="bb-center-btn-area" class="col-xs-12 margin-t-20" tabindex="-1"></div>
			</div>
		</div>
	</div>
</div>