<div class="container-fluid">
	<div class="col-xs-12">
		<div class="row">
			<h3 class="col-xs-12 margin-auto text-center" data-i18n="login.resetPassword.title"></h3>
			<ul class="col-xs-12 margin-t-20">
				<li data-i18n="login.resetPassword.changeFailed"></li>
				<li data-i18n="login.resetPassword.tokensExpire"></li>
				<li data-i18n="login.resetPassword.tryAgain"></li>
				<li data-i18n="login.resetPassword.requestNewToken"></li>
			</ul>
		</div>
		<hr class="hidden-xs"/>
		<div class="row">
			<div id="bb-confirm-btn" class="col-xs-8 col-xs-push-2 margin-t-20"></div>
			<div id="bb-forgot-password-btn" class="col-xs-8 col-xs-push-2 margin-t-20"></div>
		</div>
	</div>

</div>