<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<h3 class="text-center" data-i18n="login.sendConfirmationEmail.message"></h3>
	</div>
	<div class="bb-email-input-el-placeholder"></div>
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
		<div id="bb-email-submit-btn-region" class="text-center email-submit-btn-region">
		</div>
	</div>
	<div class="col-xs-8 col-xs-offset-2">
		<div class="panel panel-tout font-size-15">
			<div class="panel-body text-center">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<a href="/login/signIn" data-i18n="login.sendConfirmationEmail.backToSignInLinkLabel" class="margin-l-5"></a>
			</div>
		</div>
	</div>
</div>
