<div class="row">
	<div class="col-xs-offset-2 col-xs-8">
		<h3 class="text-center" data-i18n="login.signInWithToken.message"></h3>
	</div>
	<div class="col-xs-8 col-xs-offset-2">
		<div class="input secure-token-input salus-input-overrides">
			<input type="text" class="bb-secure-token form-control">
		</div>
	</div>
	<div class="col-xs-8 col-xs-offset-2 text-center">
		<div class="bb-associate-device-btn-container associate-device-btn-container"></div>
	</div>
</div>





