<div class="bb-myStatus-tile-background tile-shadow relative-size-1x1 width100">
	<div class="absolute-fill">
		<div class="bb-tile-text tile-text"><%- name %></div>
		<div class="bb-myStatus-selected myStatus-selected"></div>
	</div>
</div>
