<div class="rule-container">
	<div class="bb-rule-checkbox rule-checkbox inline-block inactive margin-l-20"></div>
	<div class="run-row">
		<div class="bb-run-when-start run-when-start hidden">
			<div class="run-text inline-block" data-i18n="myStatus.makeNewStatus.ruleView.run"></div>
			<div role="button" class="bb-switch switch switch-no center-vertical-absolute inline-block"></div>
		</div>
	</div>
	<div class="bb-arrow arrow-cover">
		<div role="button" class="arrow center-vertical-absolute inline-block"></div>
	</div>
</div>