<h2 class="h2" data-i18n="settings.manageDevices.devices.header"></h2>
<p class="font-size-14" data-i18n="settings.manageDevices.devices.description"></p>

<div class="bb-existing-shares"></div>
<div class="bb-new-shares shares-list-new"></div>
<div class="bb-add-device add-device">
	<span class="add-device-text" data-i18n="settings.manageDevices.devices.addShare"></span><span class="icon-add"></span>
</div>
