<div class="row">
	<div class="col-xs-12 alias-textbox-wrapper">
		<div class="bb-alias-textbox"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-8 col-xs-pull-2 col-sm-5 col-sm-pull-1 alias-btn-wrapper pull-right">
		<div class="bb-alias-save"></div>
	</div>
	<div class="col-xs-8 col-xs-pull-2 col-sm-5 col-sm-pull-1 alias-btn-wrapper pull-right">
		<div class="bb-alias-cancel"></div>
	</div>
</div>