<div class="bb-status-state row"></div>
<div class="connection-row row">
	<div class="bb-status-connection connection col-xs-12 center-relative"></div>
</div>
<div class="bb-status-table row"></div>
<div class="settings-row row">
	<div class="col-xs-12">
		<div role="button" class="bb-pin-device-icon setting-icon hidden pull-right"></div>
		<div role="button" class="bb-settings-icon setting-icon settings-icon pull-right"></div>
        <div role="button" class="bb-window-sensor-icon setting-icon window-sensor-icon hidden pull-right"></div>
		<div role="button" class="bb-identify-icon setting-icon identify-icon pull-right"></div>
		<div role="button" class="bb-warning-icon setting-icon warning-icon hidden pull-left"></div>
	</div>
</div>