<div class="bb-arc-group arc-group">
	<div class="bb-tstat-arc tstat-arc"></div>
	<div class="bb-hold-set-temp-status hold-status hidden"><span data-i18n="equipment.thermostat.holdPointModal.holdTitle"></span></div>
	<div class="bb-arc-output arc-output">
		<div class="bb-arc-set-point-temp arc-set-point-temp"></div>
		<div class="bb-arc-current-temp arc-current-temp"></div>
	</div>
</div>
<div class="tstat-control-group">
	<div role="button" class="bb-center-controls center-controls">
		<div class="bb-main-mode-icon main-mode-icon tstat-control-icon"></div>
		<div class="bb-hold-mode-icon hold-mode-icon tstat-control-icon"></div>
		<div class="bb-fan-mode-icon fan-mode-icon tstat-control-icon"></div>
		<div class="bb-ocupancy-icon ocupancy-icon tstat-control-icon"></div>
	</div>
</div>
<div class="bb-thermostat-lock-row thermostat-lock-row row">
	<div class="col-xs-9">
		<div class="bb-thermostat-lock-text thermostat-lock-text text-left"></div>
	</div>
	<div class="col-xs-3">
		<div role="button" class="bb-thermostat-lock-icon thermostat-lock-icon pull-right"></div>
	</div>
</div>