<div class="row modal-row">
	<div class="bb-title title col-xs-12 margin-t-20 margin-b-20"></div>
	<div class="bb-error error hidden col-xs-12 margin-b-20" data-i18n="equipment.trv.modal.tooMany"></div>
	<div class="col-xs-12 margin-b-30">
		<div class="bb-trv-collection-region"></div>
	</div>
	<div class="col-xs-12 margin-b-30">
		<div class="row">
			<div class="bb-save-button save-button col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0"></div>
			<div class="bb-cancel-button cancel-button col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0"></div>
		</div>
	</div>
</div>
