<div class="bb-trv-collection-region"></div>
<div class="icon-row row">
	<div class="col-xs-12">
		<div role="button" class="bb-button-wrapper button-wrapper">
			<div class="bb-add-text add-text hidden" data-i18n="equipment.trv.add"></div>
			<div class="bb-edit-add-icon edit-add-icon"></div>
		</div>
	</div>
</div>
