<div class="col-xs-10">
	<div class="bb-property-name property-name"></div>
</div>
<div class="property-msg col-xs-2">
	<div class="bb-property-msg-top property-msg-top"></div>
	<div class="bb-property-msg-bottom property-msg-bottom"></div>
</div>