<div class="salus-alerts-device row center-contents-row">
    <div class="col-xs-8 col-sm-9">
        <div class="bb-device-title device-title"><%= deviceName %></div>
    </div>
    <div class="device-msg col-xs-4 col-sm-3">
        <div class="bb-device-msg-top device-msg-top"></div>
        <div class="bb-device-msg-bottom device-msg-bottom"></div>
    </div>
</div>