<div id="salus-alerts-page" class="container-fluid">
    <div class="page-header">
        <h1 class="h1" data-i18n="settings.salusAlerts.title"></h1>
    </div>
    <div class="bb-salus-alerts-region salus-alerts-region col-xs-12">
        <div class="spinner"></div>
    </div>
</div>