<% if (isLargeTile) {%>
	<div class="bb-hook-for-hiding-front">
		<div class="tile-header-container">
			<div class="bb-title-text bb-front-tile-title title-text"></div>
		</div>
		<div class="bb-equipment-icon equipment-icon"></div>
	</div>
<% } else {%>
	<div role="button" class="bb-flip-button drag-handle"></div>
	<div class="bb-equipment-icon equipment-icon"></div>
	<div class="bb-device-view-region-front"></div>
	<div class="bb-title-text bb-front-tile-title margin-t-5 margin-l-5 margin-r-5 margin-b-5 pull-left"></div>
<% } %>