<div class="bb-hook-for-hiding-back">
	<div class="tile-header-container">
		<a class="bb-title-text bb-back-tile-title title-text" href="/equipment/myEquipment/<%= dsn %>"></a>
		<div role="button" class="bb-flip-button close-button"></div>
	</div>
	<div class="bb-arc-group arc-group">
		<div class="bb-tstat-arc tstat-arc"></div>
		<div class="bb-arc-output arc-output">
			<div class="bb-arc-set-point-temp arc-set-point-temp">0</div>
			<div class="bb-arc-current-temp arc-current-temp">0</div>
		</div>
	</div>
	<div class="tstat-control-group">
		<div role="button" class="bb-center-controls center-controls">
			<div class="bb-main-mode-icon main-mode-icon tstat-control-icon"></div>
			<div class="bb-hold-mode-icon hold-schedule-icon tstat-control-icon"></div>
			<div class="bb-fan-mode-icon fan-mode-icon tstat-control-icon"></div>
			<div class="bb-ocupancy-icon ocupancy-icon tstat-control-icon"></div>
		</div>
	</div>
	<div role="button" class="bb-pin-icon pin-icon"></div>
</div>