<div class="modal-header">
	<h4 class="modal-title" data-i18n="equipment.thermostat.frostPointModal.header"></h4>
	<h5 class="modal-title" data-i18n="equipment.thermostat.frostPointModal.subHeader"></h5>
</div>
<div class="modal-body">
	<div class="radio">
		<label>
			<input type="radio" name="optionsRadios" id="optionYesSetFrostPoint" value="option1" checked>
			<span data-i18n="equipment.thermostat.frostPointModal.labels.radioYes"></span>

			<div class="bb-frost-degrees-dropdown frost-degrees-dropdown pull-right"></div>
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="optionsRadios" id="optionNoSetFrostPoint" value="option2">
			<span data-i18n="equipment.thermostat.frostPointModal.labels.radioNo"></span>
		</label>
	</div>
</div>
<div class="modal-footer">
	<div class="col-xs-12 col-sm-6">
		<button class="btn btn-primary pull-left bb-turn-off-hvac-btn" type="button"
				data-i18n="equipment.thermostat.frostPointModal.labels.buttonTurnOff"></button>
		<button class="btn btn-default pull-left" type="button"
				data-i18n="equipment.thermostat.frostPointModal.labels.buttonCancel"
				data-dismiss="modal"></button>
	</div>
	<div class="checkbox col-xs-12 col-sm-6">
		<label class="pull-left">
			<input class="bb-hide-set-frost-point-modal-checkbox" type="checkbox"><span
				data-i18n="equipment.dialog.checkboxDoNotShowAgain"></span>
		</label>
	</div>
</div>