<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="row device-info-row border-bottom-row center-contents-row">
				<div class="col-xs-4 col-sm-2">
					<div class="bb-equipment-icon equipment-icon"></div>
				</div>
				<div class="col-xs-8 col-sm-10 padding-l-20 padding-r-0">
					<div class="bb-device-name device-name font-semi-bold"></div>
				</div>
			</div>
			<div class="bb-customization-content-region row"></div>
			<div class="row padding-t-15">
                <div class="bb-next-button col-xs-10 col-sm-4 col-xs-pull-1 col-sm-pull-2 margin-b-15 pull-right"></div>
				<div class="bb-complete-setup-button col-xs-10 col-sm-10 col-xs-pull-1 col-sm-pull-2 margin-b-15 pull-right"></div>
				<div class="bb-cancel-button col-xs-10 col-sm-4 col-xs-pull-1 col-sm-pull-2 margin-b-15 pull-right"></div>
			</div>
		</div>
	</div>
</div>