<div class="row flex-sm">
	<div class="col-xs-12 col-sm-4 col-md-3 col-sm-offset-1 col-md-offset-3 inline-flex-center">
		<div class="bb-clamp-checkbox"></div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-5 inline-flex-center">
		<div class="bb-clamp-textbox width100"></div>
	</div>
</div>