<div class="bb-equipment-icon equipment-icon"></div>
<div class="bb-equipment-name equipment-name"></div>
<div class="bb-check-mark check-mark hidden">
	<div class="success-text" data-i18n="setupWizard.provisioning.customize.successfullySetup"></div>
</div>