<div class="container-fluid">
	<div class="row title-row">
		<div class="col-xs-12 margin-b-30">
			<div class="warning-icon inline-block"></div>
			<div class="title inline-block" data-i18n="equipment.it600Warnings.modal.title"></div>
		</div>
	</div>
	<div class="bb-error-collection-region error-collection-region"></div>
</div>

