<div class="row">
	<div role="button" class="bb-start start col-xs-12">
		<div class="bb-title-text text" data-i18n="schedules.thermostat.selectionTitle"></div>
		<div class="arrow down-arrow center-vertical-absolute"></div>
	</div>
	<div class="bb-selection-collection-container selection-collection-container selection-collection col-xs-12 hidden"></div>
</div>

